--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
lapx>=0.5.2
easyocr
opencv-python
flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-wtf
numpy
rapidfuzz
reportlab
