--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
easyocr
opencv-python
flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-wtf
numpy
rapidfuzz
reportlab
requests
fastapi
uvicorn
evdev
gpiozero
fast-alpr[onnx]
onnxruntime
RPi.GPIO; platform_machine=="armv7l" or platform_machine=="aarch64"
